<% @comments.each do |comment| %>
<tr>
  <th class="table-subheader"><%= @post.user.username %></th>
  <th class="table-subheader">Subject: <%= @post.title %>  
    <div class="right">Posted: <%= @post.created_at.strftime("%b . %d . %Y") %>
    </div>
  </th>
</tr>
<tr>
  <td class="user-info">Posts: <%= comment.user.posts.count %></td>
  <td><%= comment.content %></td>
</tr>
<% end %>