  <div class="row">
    <div class="large-12 columns">
   
       
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
             
            <li class="name">
              <h1>
                  <%= link_to "Home", root_path %>
              </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
          </ul>
   
          <section class="top-bar-section">
            <ul class="left">
              <li><a href="#">Tech Tips</a></li>
              <li><a href="#">Tube Database</a></li>
              <li><a href="#">Amp Database</a></li>
              <li>  <%= link_to "Forum", topics_path %></li>

              <% if current_user %>
                <li><a href="#"><%= current_user.username %>'s Dashboard</a></li>
                <li><%= link_to 'Logout', logout_path %></li>
              <% else %>
                <li><%= link_to "Login", login_path %></li>
                <li><%= link_to "Signup", signup_path %></li>
              <% end %>

            </ul>
   
            <ul class="right">
              <li class="search">
                <form>
                  <input type="search">
                </form>
              </li>
   
              <li class="has-button">
                <a class="small button" href="#">Search</a>
              </li>
            </ul>
          </section>
        </nav>
      </div>
    </div>