<div class="row">
  <div class="columns small-12">

    <div class="columns small-3 dash-menu">
          <%= render 'usernav' %>
    </div>

    <div class="columns push-1 small-8 dash-focus" >
          <%= form_for current_user, :url => edit_avatar_path(current_user), :html => { :multipart => true } do |f| %>

            <%= f.label :avatar %>
            <%= f.file_field :avatar %>
            <%= f.submit :submit %>
          <% end %>
    </div>


  </div>
</div>