<%= link_to "Home", users_path %>



<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
  <h2>ERRORS</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %>
    <% end %>
  </ul>
  <% end %>

  <%= f.label :username %>
  <%= f.text_field :username %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirm %>
  <%= f.password_field :password_confirmation %>
  <%= f.submit "Sign up!" %>

<% end %>