
<div class="row">
  <div class="large-12 columns">
    <div class="row signup-form">
       <div class="large-4 push-1 columns">

        <%= form_for @user do |f| %>

          <%= f.label :username %>
          <%= f.text_field :username %>

          <%= f.label :email %>
          <%= f.text_field :email %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.label :password_confirm %>
          <%= f.password_field :password_confirmation %>
          <%= f.submit "Sign up!" %>

        <% end %>
      </div>

      <div class="large-3 pull-3 login-form columns">
        <small class="error">Errors</small>
        <% if @user.errors.any? %>
          <% @user.errors.full_messages.uniq.each do |msg| %>
              <small class="error"><%= msg %></small>
          <% end %>
        <% end %>
      </div>


    </div>
  </div>
</div>