  <ul class="side-nav">
    <li><%= link_to 'Rectifiers', diodes_path %></li>
    <li><%= link_to 'Triodes', triodes_path %></li>
    <li><%= link_to 'Triode Pentode', triodepentodes_path %></li>
    <li><%= link_to 'Beam Tetrodes', tetrodes_path %></li>
    <li><%= link_to 'Pentodes', pentodes_path %></li>
  </ul>