<div class="row">
    <div class="large-12 columns">

        <table class="posts large-12 columns">
          <caption>Pentodes</caption>
          <tr>
            <th scope="column" class="topic-header">Identifier</th>
            <th scope="column" class="topic-header">Type</th>
            <th scope="column" class="topic-header">Va Max</th>
            <th scope="column" class="topic-header">Pa Max</th>
            <th scope="column" class="topic-header">Vh</th>
            <th scope="column" class="topic-header">Ih</th>
          </tr>


            <% @powers.each do |tube| %>
            <tr>
              <td>
                <% if tube.class == Pentode %>
                    <%= link_to tube.identifier, pentode_path(tube.id), class: "tube-link" %>
                <% else %>
                    <%= link_to tube.identifier, tetrode_path(tube.id), class: "tube-link" %>
                <% end %>
              </td>
              <td><%= tube.class %></td>
              <td><%= tube.max_anode_voltage %></td>
              <td><%= tube.max_anode_dissipation %></td>
              <td><%= tube.filament_voltage %></td>
              <td><%= tube.filament_current %></td>

            </tr>
            <% end %>

        </table>

    </div>
</div>