<div class="row">
    <div class="large-12 columns">

      <div class="row">
        <%= render 'shared/tubeadmin' %>
      </div>

        <table class="posts large-12 columns">

          <tr>
            <th scope="column" class="topic-header">Identifier</th>
            <th scope="column" class="topic-header">Class</th>
            <th scope="column" class="topic-header">Vh</th>
            <th scope="column" class="topic-header">Ih</th>
          </tr>

          <% @preamps.each do |tube| %>
          <tr>
            <td>
              <% if tube.class == Triode %>
                <%= link_to tube.identifier, triode_path(tube.id), class: "tube-link" %>
              <% else %>
                <%= link_to tube.identifier, triodepentode_path(tube.id), class: "tube-link" %>
              <% end %>
            </td>
            <td><%= tube.type %></td>
            <td><%= tube.filament_voltage %></td>
            <td><%= tube.filament_current %></td>
          </tr>
          <% end %>

        </table>

    </div>
</div>