<div class="row">
    <div class="large-12 columns">

        <table class="posts large-12 columns">
          <caption>Welcome to the Ampsite Discussion Forum Index.</caption>
          <tr>
            <th scope="column" class="topic-header">Identifier</th>
            <th scope="column" class="topic-header">Va Max</th>
            <th scope="column" class="topic-header">Ik Max</th>
            <th scope="column" class="topic-header">Pa</th>
            <th scope="column" class="topic-header">mu</th>
          </tr>

          <% @triodes.each do |tube| %>
          <tr>
            <td><%= link_to tube.identifier, triode_path(tube.id), class: "tube-link" %></td>
            <td><%= tube.max_anode_voltage %></td>
            <td><%= tube.max_cathode_current %></td>
            <td><%= tube.anode_dissipation %></td>
            <td><%= tube.amplification_factor %></td>

          </tr>
          <% end %>

        </table>

    </div>
</div>