<div class="row">
    <div class="large-12 columns">

        <table class="posts large-12 columns">
          <caption>Rectifiers</caption>
          <tr>
            <th scope="column" class="topic-header">Identifier</th>
            <th scope="column" class="topic-header">Class</th>
            <th scope="column" class="topic-header">PIV</th>
            <th scope="column" class="topic-header">Voltage Drop</th>
            <th scope="column" class="topic-header">RMS Anode-Anode</th>
          </tr>

          <% @diodes.each do |tube| %>
          <tr>
            <td><%= link_to tube.identifier, diode_path(tube.id), class: "tube-link" %></td>
            <td><%= tube.rectifier_class %></td>
            <td><%= tube.max_peak_inverse_voltage %></td>
            <td><%= tube.voltage_drop %></td>
            <td><%=  %></td>

          </tr>
          <% end %>

        </table>

    </div>
</div>