
<div class="row">
  <div class="large-12 columns">
    <div class="row login-form">
       <div class="large-3 columns">

          <%= form_for :user, url: login_path do |f| %>

            <%= f.label :user %>
            <%= f.text_field :username %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.submit "Log In" %>
          <% end %>
        </div>
        
        <div class="large-6 columns">
          <div class="login-error">
            <% if @err %>
              <small class="error"><%= @err %></small>
            <% end %>
          </div>

      </div>
    </div>
  </div>
</div>