<div class="row">
  <div class="large-12 columns">
    <div class="row new-post">
       <div class="large-4 push-1 columns">

        <%= form_for ([:topic, :post, @comment]) do |f| %>

          <%= f.hidden_field :user_id, :value => current_user.id%>
          <%= f.hidden_field :post_id, :value => @post_id%>

          <%= f.label :comment %>
          <%= f.text_area :content %>

          <%= f.submit "Submit!" %>

        <% end %>
      </div>

      <div class="large-3 pull-3 login-form columns">
        <% if @comment.errors.any? %>
        <small class="error">Errors</small>
          <% @comment.errors.full_messages.uniq.each do |msg| %>
              <small class="error"><%= msg %></small>
          <% end %>
        <% end %>
      </div>


    </div>
  </div>
</div>