<div class="row">
    <div class="large-12 columns">
        <div class="row">
          <div class="large-12 columns">
            <%= render partial: 'shared/tubeadmin', locals: {tube: @pentode} %>
          </div>
        </div>


        <table class="posts large-12 columns">
          <tr>
            <th scope="column" class="topic-header">Identifier</th>
            <th scope="column" class="topic-header">Type</th>
            <th scope="column" class="topic-header">Va Max</th>
            <th scope="column" class="topic-header">Pa Max</th>
            <th scope="column" class="topic-header">Vg2 Max</th>
            <th scope="column" class="topic-header">Pg2 Max</th>
            <th scope="column" class="topic-header">Vh</th>
            <th scope="column" class="topic-header">Ih</th>
            <th scope="column" class="topic-header">Socket Type</th>
          </tr>

            <tr>
              <td><%= @pentode.identifier%></td>
              <td><%= @pentode.class %></td>
              <td><%= @pentode.max_anode_voltage %> vDC</td>
              <td><%= @pentode.max_anode_dissipation %> Watts</td>
              <td><%= @pentode.max_grid2_voltage %> vDC</td>
              <td><%= @pentode.max_grid2_dissipation %> Watts</td>
              <td><%= @pentode.filament_voltage %> vDC</td>
              <td><%= @pentode.filament_current %> mA</td>
              <td><%= @pentode.tubesocket? %></td>

            </tr>
        </table>

    </div>
</div>