
<div class="row">
  <div class="large-12 columns">


<table class="posts push-1 large-10 columns">
  <caption>Welcome to the <%= @topic.title %> Discussion Forum.</caption>

  <%= link_to 'New Comment', new_topic_post_comment_path(@topic, @post, @comment), class: "new-btn" %>

  <tr>
    <th scope="column" class="topic-header">Author</th>
    <th scope="column">Message</th>
  </tr>
  <tr>
    <th><%= @post.user.username %></th>
    <th><%= @post.content %></th>
  </tr>


  <% if @comments %>
    <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.user.username %></td>
      <td><%= comment.content %></td>
    </tr>
    <% end %>
  <% end %>

</table>

  </div>
</div>