<div class="row">
  <div class="large-12 columns forum-nav">
    <%= link_to 'New Comment', new_topic_post_comment_path(@topic, @post, @comment), class: "new-btn" %>
    
    <div class="right">
      <%= link_to 'Forum Index', topic_path %> >>
      <%= link_to @post.topic.title, topic_path(@topic) %> 
    </div>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <table class="posts large-12 columns">
      <tr>
        <th class="table-header" scope="column">Author</th>
        <th class="table-header" scope="column">Message</th>
      </tr>
      <tr>
        <th class="table-subheader"><%= @post.user.username %></th>

        <th class="table-subheader">Subject: <%= @post.title %>  
          <div class="right">Posted: <%= @post.created_at.strftime("%b . %d . %Y") %>
          </div>
        </th>
      </tr>

      <tr>
        <td class="user-info">Avatar and User content</td>
        <td><%= @post.content %></th>
      </tr>


      <% if @comments %>
        <% @comments.each do |comment| %>
        <tr>
          <th class="table-subheader"><%= @post.user.username %></th>
          <th class="table-subheader">Subject: <%= @post.title %>  
            <div class="right">Posted: <%= @post.created_at.strftime("%b . %d . %Y") %>
            </div>
          </th>
        </tr>
        <tr>
          <td class="user-info">Posts: <%= comment.user.posts.count %></td>
          <td><%= comment.content %></td>
        </tr>
        <% end %>
      <% end %>

    </table>
  </div>
</div>