<div class="row">
  <div class="large-2 columns forum">
  <%= link_to 'New Comment', new_topic_post_comment_path(@topic, @post, @comment), class: "new-btn" %>
  </div>
  </div>


<div class="row">
  <div class="large-12 columns">


<table class="posts large-12 columns">
  <caption>Welcome to the <%= @topic.title %> Discussion Forum.</caption>


  <tr>
    <th class="table-header" scope="column">Author</th>
    <th class="table-header" scope="column">Message</th>
  </tr>
  <tr>
    <th><%= @post.user.username %></th>
    <th><%= @post.content %></th>
  </tr>


  <% if @comments %>
    <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.user.username %></td>
      <td><%= comment.content %></td>
    </tr>
    <% end %>
  <% end %>

</table>

  </div>
</div>