<div class="row">
    <div class="large-12 columns">
        <div class="row">
          <%= render 'shared/tubeadmin' %>
        </div>


        <table class="posts large-12 columns">
          <tr>
            <th scope="column" class="topic-header">Identifier</th>
            <th scope="column" class="topic-header">Type</th>
            <th scope="column" class="topic-header">Va Max</th>
            <th scope="column" class="topic-header">Pa Max</th>
            <th scope="column" class="topic-header">Vh</th>
            <th scope="column" class="topic-header">Ih</th>
          </tr>

            <tr>
              <td><%= @tetrode.identifier%></td>
              <td><%= @tetrode.class %></td>
              <td><%= @tetrode.max_anode_voltage %></td>
              <td><%= @tetrode.max_anode_dissipation %></td>
              <td><%= @tetrode.filament_voltage %></td>
              <td><%= @tetrode.filament_current %></td>

            </tr>
        </table>

    </div>
</div>