<div class="row">
    <div class="large-12 columns">
    
      <div class="row">
        <div class="large-12 columns">
          <%= render partial: 'shared/tubeadmin', locals: {tube: @triode} %>
        </div>
      </div>

        <table class="posts large-12 columns">

          <tr>
            <th scope="column" class="topic-header">Identifier</th>
            <th scope="column" class="topic-header">Class</th>
            <th scope="column" class="topic-header">Vh</th>
            <th scope="column" class="topic-header">Ih</th>
            <th scope="column" class="topic-header">Socket Type</th>
          </tr>

          <tr>
            <td><%= @triode.identifier %></td>
            <td><%= @triode.type %></td>
            <td><%= @triode.filament_voltage %></td>
            <td><%= @triode.filament_current %></td>
            <td><%= @triode.tubesocket? %></td>
          </tr>

        </table>

    </div>
</div>