



<div class="row">
  <div class="large-12 columns">

<table class="posts large-12 columns">
  <caption>Welcome to the Ampsite Discussion Forum.</caption>
  <tr>
    <th scope="column" class="large-8 topic-header">Topic</th>
    <th scope="column" class="large-2 topic-header">Posts</th>
    <th scope="column" class="large-2 topic-header">Comments</th>
    <th scope="column" class="large-2 topic-header">Last Post</th>
  </tr>

  <% @topics.each do |topic| %>
  <tr>
    <td><%= link_to topic.title, topic_path(topic.id) %></td>
    <td><%= topic.posts.count %></td>
    <td><%= @comment_count %></td>
    <td>
      <% if topic.posts.count > 0 %>
        <div class="last-updated"><%= topic.posts.last.updated_at.strftime("%b . %d . %Y") %></div>
        <div class="last-author"><%= topic.posts.last.user.username %>
    
      <% end %>
    </td>
  </tr>
  <% end %>

</table>

  </div>
</div>