<div class="row">
  <div class="large-12 columns">

<%= link_to 'New Post', new_topic_post_path(@topic, @post) %>

<table class="posts push-1 large-10 columns">
  <caption>Welcome to the <%= @topic.title %> Discussion Forum.</caption>
  <tr>
    <th scope="column">Post</th>
    <th scope="column">Author</th>
    <th scope="column">Comments</th>
    <th scope="column">Last Comment</th>
  </tr>

  <% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, topic_post_path(@topic.id, post) %></td>
    <td><div class="last-updated"><%= post.created_at.strftime("%b . %d . %Y") %></div>
        <div class="last-author"><%= post.user.username %></td>
    <td><%= post.comments.count %></td>
    <td>
      <% if post.comments.count > 0 %>
        <div class="last-updated"><%= post.comments.last.updated_at.strftime("%b . %d . %Y") %></div>
        <div class="last-author"><%= post.comments.last.user.username %>
    
      <% end %>
    </td>
  </tr>
  <% end %>

</table>

  </div>
</div>